@model IEnumerable<cSharpEksamen.Models.Medarbejder>


<!DOCTYPE html>
<html>
<head>
    <title>Medarbejdere</title>
</head>
<body>
<h1>Medarbejdere</h1>
<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>CPR</th>
        <th>Initialer</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var medarbejder in Model)
    {
        <tr>
            <td>@medarbejder.Navn</td>
            <td>@medarbejder.Cpr</td>
            <td>@medarbejder.Initialer</td>
        </tr>
    }
    </tbody>
</table>
<div>

</div>
</body>
</html>